.blurit {
   color: transparent;
   text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.makeitnotcopyable {
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}
